@import url('https://fonts.googleapis.com/css?family=Arvo|Raleway:400,800');

.minor-font{
    font-family: "Arvo";
    font-weight: 800;
    color: $col-footer-menu;
    font-size: .7em;
    padding-right: 10px;
}

.raleway-font{
    font-family: 'Raleway', sans-serif;
}
