
@{
    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="thank-you">
    <!--
    <div>
        <img id="thankyou-image" src="~/Content/Images/thankyouHeader.png">
    </div>
    -->
    <h1>Thankyou for entering. Good luck</h1>
</div>


