body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, a, p {
    font-family: 'Raleway', sans-serif;
}


/*ClearFix*/
.cf:before, .cf:after{
  content:'';
  display: table;
}

.cf:after{
  clear:both;
}

.cf{
  zoom:1;
}

.paddingLeft0px {
  padding-left: 0px;
}

.alignCenter {
  text-align:center;
}

.fa.fa-twitter, .fa.fa-facebook, .fa.fa-pinterest-p {
  color: $col-footer-brown;
}


.fa-stack-1x, i.fa.fa-circle.fa-stack-2x.fa-inverse{
    top:-5px;
}