$col-footer-brown: #333333;
$col-footer-white: #ffffff;

$col-footer-menu: #868686;
$col-footer-menu-active: #ffffff;

$col-form-green: #577C1C;
$col-form-white: #ffffff;

$col-form-red: #FC2534;
$col-form-red-dark: #D51928;
